<div class="chatbox">
    <div [ngStyle]="{'opacity': (isLow == true) ? '0' : '100'}" class="chatbox__support"> 
        <div class="chatbox__header"  mat-fab color="primary" >
            Chat support!
        </div>
        <div class="messages">
            <div *ngFor="let item of Messages">
                <div class="messages__item--visitor">
                    <div class=" Chat-Style" [ngStyle]="{'float': (item.IsRecieve == true) ? 'left' : 'right'}">{{item.Message}}</div>
                </div>
            </div>
        </div>
        <div class="chatbox__footer">
            <form class="example-form" (onSubmit)="onSendMessage()" name="SendMessage" [formGroup]="SendMessage">
                <mat-form-field class="example-full-width">
                  <input matInput maxlength="299" placeholder="Ex. I need help with..." formControlName="Message" (keyup.enter)="onSendMessage()" >

                </mat-form-field>
              </form>
        </div>
    </div>
    <div class="chatbox__button">
        <button (click)="toggleOpacity()"  mat-fab color="primary" aria-label="Example icon button with a home icon">
            <mat-icon>message</mat-icon>
        </button>
    </div>
</div>