

/* CHATBOX
=============== */
.chatbox {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

/* CONTENT IS CLOSE */
.chatbox__support {
    display: flex;
    flex-direction: column;
    background: #9b9b9b;
    width: 310px;
    height: 400px;
    z-index: -123456;
    opacity: 0;
    transition: all .5s ease-in-out;
    border-radius: 8px 8px 8px 8px;
}

/* CONTENT ISOPEN */
.chatbox--active {
    transform: translateY(-40px);
    z-index: 123456;
    opacity: 1;
    
}

/* BUTTON */
.chatbox__button {
    text-align: right;
}


/* HEADER */
 .chatbox__header {
    background: #673ab7;
    padding: 10px;
    border-radius: 8px 8px 0px 0px;
 }

/* MESSAGES */
.chatbox__messages {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

// .messages__item {
//     background: orange;
//     max-width: 60.6%;
//     width: fit-content;
// }

.messages__item--operator {
    margin-left: auto;
}

.messages__item--visitor {
    margin-right: auto;
}

/* FOOTER */
.chatbox__footer {
    position: absolute;
    bottom: 72px;
    height: 40px;
    width:100%;
}

.example-form {
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .mat-mdc-text-field-wrapper {
    height: 47px;
    flex: auto;
}

.example-full-width .mat-mdc-text-field-wrapper  {
    border-radius: 0px 0px 10px 10px !important;
}
.Chat-Style{
    background: #5a3ab79c;
    color: #ffffffbd;
    border-radius: 4px;
    width: 57%;
    padding: 7px;
    margin-left: 7px;
    margin-top: 7px;
    margin-right: 7px;
}
.messages{
    overflow-y: scroll;
    height: 72%;
}
